%section
  %img#amex.hidden-phone.hidden-tablet{"src" => "/assets/amex.jpeg"}
  %img#home_banner{"src" => "/assets/home_banner.jpeg"}

%section
  %img.little_banners{"src" => "/assets/home1.jpeg"}
  %img.little_banners{"src" => "/assets/home2.jpeg"}
  %img.little_banners{"src" => "/assets/home3.jpeg"}
  %img.little_banners{"src" => "/assets/home4.jpeg"}