.footer {
	background-color: white;
	ul li {
	    list-style: none;
	    color: #777;
	    margin: 5px;
	    float: left;
	    display: inline;
	    a {
	    	color: white;
	    	font-size: 70%;
	    }
	}
}