// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav_link {
	a {
		float: left;
	    color: white;
	    style: none;
	}
}

#amex { margin-left: 5px }

#home_banner { margin-left: 5px }

.little_banners { margin: 5px; }